
body {
	text-align: center;
	padding:0;
	margin: 0;
}
.navbar-header,
.navbar-header img,
.navbar-brand {
	float:left;
	height: 50px;
	padding: 0;
	margin: 0 100px;
}
.navbar-nav {
	margin: 0 50px;
}
.navbar-nav li a {
	padding-left: 50px;
	padding-right: 50px;
}
.jumbotron {
	background: transparent;
}
.member {
	width:100%;
}
video#bgvid {
	margin: 0;
	padding: 0;
	z-index: -100;
	width:100%;
	height:auto;
	-webkit-filter: opacity(50%);
	position: absolute;
	left: 0;
	top:0;
}
.video {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width:100%;
}
.page-header {
	height: 700px;
	overflow: hidden;
	z-index:1;
	position: relative;
}

