
body {

}
.navbar-header,
.navbar-header img,
.navbar-brand {
	float:left;
	height: 50px;
	padding: 0;
	margin: 0 100px;
}
.navbar-nav {
	margin: 0 50px;
}
.navbar-nav li a {
	padding-left: 50px;
	padding-right: 50px;
}
.jumbotron {
	background: transparent;
}
.member {
	width:100%;
}
video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(http://blogs.bootsnall.com/corrieguatemala/files/2008/07/100_0181.JPG) no-repeat;
background-size: cover;
-webkit-filter: opacity(50%);
}

